<footer class="page-footer bg-image" style="background-image: url(../static/assets/img/world_pattern.svg);">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-3 py-3">

        <div class="social-media-button">
          <a href="#"><span class="mai-logo-facebook-f"></span></a>
          <a href="#"><span class="mai-logo-twitter"></span></a>
          <a href="#"><span class="mai-logo-google-plus-g"></span></a>
          <a href="#"><span class="mai-logo-instagram"></span></a>
          <a href="#"><span class="mai-logo-youtube"></span></a>
        </div>
      </div>
      <div class="col-lg-3 py-3">
        <h5>Company</h5>
        <ul class="footer-menu">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Career</a></li>
          <li><a href="#">Advertise</a></li>
          <li><a href="#">Terms of Service</a></li>
          <li><a href="#">Help & Support</a></li>
        </ul>
      </div>
      <div class="col-lg-3 py-3">
        <h5>Contact Us</h5>
        <p>Sunny Wrocław</p>
        <a href="#" class="footer-link">+123 456 789</a>
        <a href="#" class="footer-link">pachoocha@gmail.com</a>
      </div>
      <div class="col-lg-3 py-3">
        <h5>Newsletter</h5>
        <p>Get updates, news or events on your mail.</p>
        <form action="#">
          <input type="text" class="form-control" placeholder="Enter your email..">
          <button type="submit" class="btn btn-success btn-block mt-2">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
</footer>