<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-white sticky" data-offset="300">
      <div class="container">
        <img src= {{url_for('static', filename='assets/img/kaczoocha.gif')}} style="width: 5%; height: 5%;">
        <a href="/" class="navbar-brand"> <span class="text-primary">Pachoocha.</span></a>

        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        

        <div class="navbar-collapse collapsed" id="navbarContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Start</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="about.html">O nas</a>
            </li> -->
            <!-- <li class="nav-item">
              <a class="nav-link" href="service.html">Usługi</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="/search_order_code">Track order</a>
            </li>

            <div id="logout_button" onclick="document.cookie = 'logged_in=False'"></div>
            <li class="nav-item">
              <a class="btn btn-primary ml-lg-2" id="panel_pracownika" href="/login">Employee panel</a>
            </li>

            <script>
              if (document.cookie.includes("logged_in=True")){
                document.getElementById("logout_button").innerHTML = 
                ' <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>';
                document.getElementById("panel_pracownika").href = "/home"

              }

            </script>
           


          
          </ul>
        </div>

      </div>
    </nav>
  </header>
  <div class="flash">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                <span>{{ message }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
  {% endwith %}
</div>