<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
    <title>Pachoocha</title>
  
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/maicons.css') }}">
  
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.css') }}">
  
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/theme.css') }}">
  
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/animate/animate.css') }}">
  
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/powitalna.css') }}">
  </head>