.zoom {
	max-width: 200px;
	margin-left: auto;
	margin-right: auto;
}
  
  .zoom:hover {
	-moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */

	-webkit-transition: transform 1.2s ease-in-out;
    -moz-transition:transform 1.2s ease-in-out;
    -ms-transition:transform 1.2s ease-in-out;
  }

#container{width:100%;}
#left{float:left;width:100px;}
#right{float:right;width:100px;}
#center{margin:0 auto;width:100px;}