{% include 'components/head.html' %}
{% include 'components/header.html' %}  
<body>
    <div class="page-section">
        <div class="center" style="padding-left: 25%; padding-bottom: 5%; width: 50%;">

<form class="form-control-form validate-form flex-sb flex-w" method="POST" action="add_position">
  <span class="form-control-form-title p-b-51">
    Add position
  </span>
  <div class="wrap-form-control validate-input m-b-16">
    <input class="form-control" name="position_name" placeholder="Position name" data-validate = "Position name is required">
    <span class="focus-form-control"></span><br>
  <span class="form-control-form-title p-b-51">
      Add permissions
  </span>
  <div class="wrap-form-control validate-input m-b-16">
    <input class="form-control" name="position_permission" placeholder="Permission name" data-validate = "Permission name is required">
  <span class="focus-form-control"></span>
  </div>
  {% for item in data %}
    <input type="checkbox" name="{{item['name']}}" value="{{item['name']}}">
    <label for="{{item['name']}}">{{item["name"]}}</label><br>  
  {% endfor %}
  </div>
  <div class="row form-group mt-4">
    <div class="col-md-12">
      <input type="submit" value="Add position" class="btn btn-primary">
    </div>
  </div>
</form>

</div>
</div>
</body>
{% include 'components/footer.html' %}
