{% include 'components/head.html' %}
{% include 'components/header.html' %}
<style>
  form {
   float: left; 
   padding-right: 10px;
  }
  

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.show_data{
    position: relative;
    top: 30%;
    left: 10;
  }

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
#left{float:left;width:100px;}
#right{float:right;width:100px;}
#center{margin:0 auto;width:100px;}
</style>
<body style="padding-bottom: 50%;">
    <div class="page-section">
        <!-- <div class="center" style="padding-left: 25%; width:50%;"> -->

          <div id = "left" style="padding-left: 15%; width:30%">
<form class="contact-form validate-form flex-sb flex-w " method="POST" action="add_user">
  <span class="contact-form-title p-b-51">
    Add user
  </span>
  <div class="wrap-form-control validate-input m-b-16" data-validate = "First name is required">
    <input class="form-control" type="text" name="first_name" placeholder="First name">
    <span class="focus-form-control"></span>
  </div>
  <div class="wrap-form-control validate-input m-b-16" data-validate = "Last name is required">
    <input class="form-control" type="text" name="last_name" placeholder="Last name">
    <span class="focus-form-control"></span>
  </div>
  <div class="wrap-form-control validate-input m-b-16" data-validate = "Username is required">
    <input class="form-control" type="email" name="email" placeholder="email">
    <span class="focus-form-control"></span>
  </div>
  <div class="wrap-form-control validate-input m-b-16" data-validate = "Position is required">
    <input class="form-control" type="text" name="position_name" placeholder="Position">
    <span class="focus-form-control"></span>
  </div>
  
    <div class="row form-group mt-4">
      <div class="col-md-12">
        <input type="submit" value="Add user" class="btn btn-primary">
      </div>
    </div>
    

</form>
</div>
<div id="center" style="width:30%; padding-left:5%" >
    <form class="form-control-form validate-form flex-sb flex-w" method="POST" action="">
      <span class="form-control-form-title p-b-51">
         Search for position
      </span>
      <div class="wrap-form-control validate-input m-b-16">
        <input class="form-control" type="text" name="position_name_search" placeholder="Position name">
        <span class="focus-form-control"></span>
      </div>
      <div class="row form-group mt-4">
        <div class="col-md-12">
          <input type="submit" value="Search for position" class="btn btn-primary">
        </div>
      </div>
  </form>
</div>
<div id="right" style="padding-right: 40%;">
    <div id='container'>
      <table>
        <tr>
          <th>Position ID</th>
          <th>Postiion name</th>
          <th>Permissions</th>
        </tr>
        {% for item in data[0] %}
            <tr>
                <td>{{item["id"]}}</td>
                <td>{{item["position_name"]}}</td>
                <td>{{item["permission_name"]}}</td>
            </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
</div>
</body>
<!-- {% include 'components/footer.html' %} -->
