{% include 'components/head.html' %}
{% include 'components/header.html' %}
<style>
    form {
     float: left; 
     padding-right: 10px;
    }
    

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  .show_data{
      position: relative;
      top: 30%;
      left: 10;
    }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
    #container{width:100%;}
#left{float:left;width:100px;}
#right{float:right;width:100px;}
#center{margin:0 auto;width:100px;}
</style>
  
    <body>
        <div class="page-section">
            <!-- <div class="center" style="padding-left: 25%; padding-top: 1%;"> -->

<div id='left'  style="position: relative; width:30%; padding-left: 20%;"> 
    <form class="form-control-form validate-form flex-sb flex-w" method="POST" action="delete_position">
        <span class="form-control-form-title p-b-51">
           Search for position
        </span>
        <div class="wrap-form-control validate-input m-b-16">
          <input class="form-control" type="text" name="position_name" placeholder="Position name">
          <span class="focus-form-control"></span>
        </div>
        <div class="row form-group mt-4">
          <div class="col-md-12">
            <input type="submit" value="Search for position" class="btn btn-primary">
          </div>
        </div>
    </form>
</div>
    <div id='center' style="position: relative; width:30%">
    <form class="form-control-form validate-form flex-sb flex-w" method="POST" action="delete_position">
        <span class="form-control-form-title p-b-51">
         Delete position
        </span>
        <span class="form-control-form-title p-b-51">
            Select User ID
        </span>
        <div class="wrap-form-control validate-input m-b-16">
           <input class="form-control" type="number" name="id" placeholder="Position ID" data-validate = "Position ID is required">
           <span class="focus-form-control"></span>
        </div>
        <div class="wrap-form-control validate-input m-b-16">
          <input class="form-control" name="position_name" placeholder="Position name" data-validate = "Position name is required">
          <span class="focus-form-control"></span><br>
          <div class="row form-group mt-4">
            <div class="col-md-12">
              <input type="submit" value="Delete position" class="btn btn-primary">
            </div>
          </div>
    </form>
    </div>

    <div id='right' style="position: relative;  width:30%">
      <table>
        <tr>
          <th>Position ID</th>
          <th>Position name</th>
          <th>Permissions</th>
        </tr>
        {% for item in data %}
            <tr>
                <td>{{item["id"]}}</td>
                <td>{{item["position_name"]}}</td>
                <td>{{item["permission_name"]}}</td>
            </tr>
        {% endfor %}
      </table>
    </div> 
  </div>
</div>
</body>
<!-- {% include 'components/footer.html' %} -->
