<style>
  form {
   float: left; 
   padding-right: 10px;
  }
  
  table, th, td {
    border: 1px solid black;
  }
  
  .show_data{
    position: relative;
    top: 30%;
    left: 10;
  }
  
  
  
  </style>
  
{% include 'components/head.html' %}
{% include 'components/header.html' %}
<body>
  <div class="page-section">
      <div class="center" style="padding-left: 25%; padding-top: 5%; padding-bottom: 5%;">

  <form class="form-control-form validate-form flex-sb flex-w" method="POST" action="delete_client">
      <span class="form-control-form-title p-b-51">
         Search for client
      </span>
      <div class="wrap-form-control validate-input m-b-16">
        <input class="form-control" type="text" name="first_name" placeholder="First name">
        <span class="focus-form-control"></span>
      </div>
      <div class="wrap-form-control validate-input m-b-16">
        <input class="form-control" type="text" name="last_name" placeholder="Last name">
        <span class="focus-form-control"></span>
      </div>
      <div class="wrap-form-control validate-input m-b-16">
        <input class="form-control" type="email" name="email" placeholder="Email">
        <span class="focus-form-control"></span>
      </div>
      <div class="wrap-form-control validate-input m-b-16">
        <input class="form-control" type="text" name="phone_number" placeholder="Phone number">
        <span class="focus-form-control"></span>
      </div>
      <div class="wrap-form-control validate-input m-b-16">
          <input class="form-control" type="text" name="company" placeholder="Company">
          <span class="focus-form-control"></span>
        </div>
        <div class="row form-group mt-4">
          <div class="col-md-12">
            <input type="submit" value="Search for client" class="btn btn-primary">
          </div>
        </div>
  </form>
  
  <form class="form-control-form validate-form flex-sb flex-w" method="POST" action="delete_client">
    <span class="form-control-form-title p-b-51">
       Select client ID
    </span>
    <div class="wrap-form-control validate-input m-b-16">
      <input class="form-control" type="number" name="id" placeholder="client ID" data-validate = "client ID is required">
      <span class="focus-form-control"></span>
    </div>
    <div class="wrap-form-control validate-input m-b-16">
      <span class="form-control-form-title p-b-51">
        Input data to confirm delete
      </span><br>
      <input class="form-control" type="text" name="first_name" placeholder="First name" data-validate = "First name is required">
      <span class="focus-form-control"></span>
    </div>
    <div class="wrap-form-control validate-input m-b-16">
      <input class="form-control" type="text" name="last_name" placeholder="Last name"  data-validate = "Last name is required">
      <span class="focus-form-control"></span>
    </div>
    <div class="wrap-form-control validate-input m-b-16">
      <input class="form-control" type="email" name="email" placeholder="Email" data-validate="Email is required">
      <span class="focus-form-control"></span>
    </div>
    <!-- <div class="container-form-control-form-btn m-t-17">
      <button class="form-control-form-btn">
        Delete client
      </button>
    </div> -->
    <div class="row form-group mt-4">
      <div class="col-md-12">
        <input type="submit" value="Delete client" class="btn btn-primary">
      </div>
    </div>
  </form>
  
  <div class='show_data'>
    
      <table>
        <tr>
          <th>Client ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Phone number</th>
          <th>Company</th>
        </tr>
        
        {% for item in data[0] %}
            
            <tr>
                <td>{{item["id"]}}</td>
                <td>{{item["first_name"]}}</td>
                <td>{{item["last_name"]}}</td>
                <td>{{item["email"]}}</td>
                <td>{{item["phone_number"]}}</td>
                <td>{{item["company"]}}</td>
  
            </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
</body>
{% include 'components/footer.html' %}
