
{% include 'components/head.html' %}
{% include 'components/header.html' %}

<style>
  form {
   float: left; 
   padding-right: 10px;
  }
  

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.show_data{
    position: relative;
    top: 30%;
    left: 10;
  }

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}



</style>

<body>
  <div class="page-section">
    
    <div class="center" style="padding-left: 25%; ">
<form class="contact-form-form validate-form flex-sb flex-w" method="POST" action="delete_user">
    <span class="contact-form-form-title p-b-51">
       Search for user
    </span>
    <div class="wrap-form-control validate-input m-b-16">
      <input class="form-control" type="text" name="first_name" placeholder="First name">
      <span class="focus-form-control"></span>
    </div>
    <div class="wrap-form-control validate-input m-b-16">
      <input class="form-control" type="text" name="last_name" placeholder="Last name">
      <span class="focus-form-control"></span>
    </div>
    <div class="wrap-form-control validate-input m-b-16">
      <input class="form-control" type="email" name="email" placeholder="email">
      <span class="focus-form-control"></span>
    </div>
    <div class="wrap-form-control validate-input m-b-16">
      <input class="form-control" type="text" name="position_name" placeholder="Position">
      <span class="focus-form-control"></span>
    </div>
    <div class="row form-group mt-4">
      <div class="col-md-12">
        <input type="submit" value="Search for user" class="btn btn-primary">
      </div>
    </div>
</form>

<form class="form-control-form validate-form flex-sb flex-w" method="POST" action="delete_user">
  <span class="form-control-form-title p-b-51">
     Select User ID
  </span>
  <div class="wrap-form-control validate-input m-b-16">
    <input class="form-control" type="number" name="id" placeholder="User ID" data-validate = "User ID is required">
    <span class="focus-form-control"></span>
  </div>
  <div class="wrap-form-control validate-input m-b-16">
    <span class="form-control-form-title p-b-51">
      Input data to confirm delete
    </span><br>
    <input class="form-control" type="text" name="first_name" placeholder="First name" data-validate = "First name is required">
    <span class="focus-form-control"></span>
  </div>
  <div class="wrap-form-control validate-input m-b-16">
    <input class="form-control" type="text" name="last_name" placeholder="Last name"  data-validate = "Last name is required">
    <span class="focus-form-control"></span>
  </div>
  <div class="wrap-form-control validate-input m-b-16">
    <input class="form-control" type="email" name="email" placeholder="email" data-validate="email is required">
    <span class="focus-form-control"></span>
  </div>
  <div class="row form-group mt-4">
    <div class="col-md-12">
      <input type="submit" value="Delete user" class="btn btn-primary">
    </div>
  </div>
</form>

<div class='show_data' style="position: absolute;top:20%;left:60%">
  <table>
    <tr>
      <th>User ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>email</th>
      <th>Position</th>
    </tr>
    {% for item in data %}
        <tr>
            <td>{{item["id"]}}</td>
            <td>{{item["first_name"]}}</td>
            <td>{{item["last_name"]}}</td>
            <td>{{item["email"]}}</td>
            <td>{{item["position_name"]}}</td>
        </tr>
    {% endfor %}
  </table>
</div>
</div>
</div>

</body>

<!-- {% include 'components/footer.html' %} -->