<!DOCTYPE html>
<html lang="en">
  {% include 'components/head.html' %}
  {% include 'components/header.html' %}

  <!-- Back to top button -->
  <!-- <div class="back-to-top"></div> -->

  
  <body>
  
 
  <div class="page-section">
    <div id="inner">   
    <div class="container-fluid mt-4">
      <div class="row">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <form action="get_reset_link" method="POST" class="contact-form .img_place"> <!-- py-5 px-lg-5-->
            <h2 class="mb-4 font-weight-medium text-secondary">Reset password</h2>
            <div class="row form-group">
              <div class="col-md-12">
                <label class="text-black" for="fname">Input your email</label>
                <input type="email" class="form-control" name="email" placeholder="email">
              </div>
              </div>
              <div class="row form-group mt-4">
                <div class="col-md-12">
                  <input type="submit" value="Send link" class="btn btn-primary">
                </div>
              </div>

            </div>
            </div>
            </div>
            
            
            
          </form>
        </div>
        
      </div>
    </div>
    </div>
  </div>

  {% include 'components/footer.html' %}
<script src="{{ url_for('static', filename='assets/js/jquery-3.5.1.min.js')}}"></script>

<script src="{{ url_for('static', filename='assets/js/bootstrap.bundle.min.js')}}"></script>

<script src="{{ url_for('static', filename='assets/vendor/wow/wow.min.js')}}"></script>

<script src="{{ url_for('static', filename='assets/js/theme.js')}}"></script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIA_zqjFMsJM_sxP9-6Pde5vVCTyJmUHM&callback=initMap"></script>

</body>
</html>
