<!DOCTYPE html>
<html lang="en">
  {% include 'components/head.html' %}
  {% include 'components/header.html' %}

  <!-- Back to top button -->
  <!-- <div class="back-to-top"></div> -->

  <script>
    document.cookie = "logged_in=True";
    
    if (document.cookie.includes("logged_in=True")){
      document.getElementById("logout_button").innerHTML = 
      ' <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>';
      document.getElementById("panel_pracownika").href = "/home";
    }

            
  </script>
  <body>
    <div class="container">
      <div class="page-banner">
        <div class="row justify-content-center align-items-center h-100">
          <div class="col-md-6">
            <nav aria-label="Breadcrumb">
              <ul class="breadcrumb justify-content-center py-0 bg-transparent">
                
              </ul>
            </nav>
            <h1 class="text-center">Hello,</h1>
            <h1 class="text-center">{{data["displayname"]}}</h1>
          </div>
        </div>
      </div>
    </div>

    <style>
        
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto
        }
        
    </style>
  </header>

  
   
    <div class="text-center">
    <div class="center" style="padding-bottom: 20%; width:50%;  line-height: 300%;">
    {% for item in data['permissions'] %}
      {% set permission_info = data['permissions'][item] %}
      
      <input type="submit" value="{{permission_info['display_name']}}" onclick="location.href = '{{permission_info['route']}}';" class="btn btn-primary">
    
  {% endfor %}

</div>
</div>


  
  
    
    
</div>

  {% include 'components/footer.html' %}

<script src="{{ url_for('static', filename='assets/js/jquery-3.5.1.min.js')}}"></script>

<script src="{{ url_for('static', filename='assets/js/bootstrap.bundle.min.js')}}"></script>

<script src="{{ url_for('static', filename='assets/js/google-maps.js')}}"></script>

<script src="{{ url_for('static', filename='assets/vendor/wow/wow.min.js')}}"></script>

<script src="{{ url_for('static', filename='assets/js/theme.js')}}"></script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIA_zqjFMsJM_sxP9-6Pde5vVCTyJmUHM&callback=initMap"></script>

</body>
</html>
