<!DOCTYPE html>
<html lang="en">
  {% include 'components/head.html' %}
  {% include 'components/header.html' %}

  <!-- Back to top button -->
  <!-- <div class="back-to-top"></div> -->

  
  <body>
 
  <!-- <div class="page-section">
    <div id="inner">   
    <div class="container-fluid mt-4">
      <div class="row">
        <div class="col-lg-6 mb-5 mb-lg-0">
        
        
            <img src="{{url_for('static', filename='assets/img/pachoocha_commercial.png')}}">
        
          
          
        
        
          
        
        
        </div>
        
      </div>
    </div>
    </div>
  </div> -->
  <div class="center" style="padding-left: 25%; padding-top: 5%; padding-bottom: 5%;">
    
    <div class="zoom" style="float:left;">
      <img src="{{url_for('static', filename='assets/img/track_package_icon.png')}}" onclick="location.href ='/search_order_code'" height=200px> 
    </div>

    <div class="zoom">
      <img src="{{url_for('static', filename='assets/img/delivery_man.png')}}" onclick="location.href ='/login'" height=200px>  
    
    </div>  
    
  
</div>
  <!-- footer-->
  {% include 'components/footer.html' %}

<script src="{{ url_for('static', filename='assets/js/jquery-3.5.1.min.js')}}"></script>

<script src="{{ url_for('static', filename='assets/js/bootstrap.bundle.min.js')}}"></script>

<script src="{{ url_for('static', filename='assets/vendor/wow/wow.min.js')}}"></script>

<script src="{{ url_for('static', filename='assets/js/theme.js')}}"></script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIA_zqjFMsJM_sxP9-6Pde5vVCTyJmUHM&callback=initMap"></script>

</body>
</html>
