<!DOCTYPE html>
<html lang="en">
  {% include 'components/head.html' %}
  {% include 'components/header.html' %}

  <!-- Back to top button -->
  <!-- <div class="back-to-top"></div> -->

  
  <body>
  
 
  <div class="page-section">
    <div id="inner">   
    <div class="container-fluid mt-4">
      <div class="row">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <form action="add_package" method="POST" class="contact-form .img_place"> <!-- py-5 px-lg-5-->
            <h2 class="mb-4 font-weight-medium text-secondary">Add package</h2>
            <div class="row form-group">
              <div class="col-md-12">
                <label class="text-black" for="fname">Order ID</label>
                <input type="text" class="form-control" name="order_id" placeholder="Order ID" value='dsr34srwrd3w' readonly><br>
              </div>
              
              {% if data|length > 2 %}
              <div class="col-md-12-middle">
                <h2 class="mb-4 font-weight-medium text-secondary">Features</h2>
                {% for item in data[0] %}
                <input type="checkbox" name="{{item['feature']}}" value="{{item['feature']}}" {{"checked" if item['feature'] in data[2]["feature"]}}>
                <label for="{{item['feature']}}">{{item["feature"]}}</label><br>
                {% endfor %}
              </div>
              <div class="col-md-12-right">
                <h2 class="mb-4 font-weight-medium text-secondary">Discounts</h2>
                {% for item in data[1] %}
                  <input type="checkbox" name="{{item['discount']}}" value="{{item['discount']}}" {{"checked" if item['discount'] in data[2]["discount"]}}>
                  <label for="{{item['discount']}}">{{item["discount"]}}</label><br>  
                {% endfor %}
              </div>
              
              
              {% else %}
              <div class="col-md-12-middle">
                <h2 class="mb-4 font-weight-medium text-secondary">Features</h2>
                {% for item in data[0] %}
                <input type="checkbox" name="{{item['feature']}}" value="{{item['feature']}}">
                <label for="{{item['feature']}}">{{item["feature"]}}</label><br>  
                {% endfor %}
              </div>
              <div class="col-md-12-right">
                <h2 class="mb-4 font-weight-medium text-secondary">Discounts</h2>
                {% for item in data[1] %}
                  <input type="checkbox" name="{{item['discount']}}" value="{{item['discount']}}">
                  <label for="{{item['discount']}}">{{item["discount"]}}</label><br>  
                {% endfor %}
              </div>
              {% endif %}
              
              <div class="col-md-12">
                <label class="text-black" for="fname">Input rounded up dimension of package in centimeters</label>
                {% if data|length > 2 %}
                <input type="number" class="form-control" name="x" placeholder="Width" value="{{data[2]['x']}}">
                <input type="number" class="form-control" name="z" placeholder="Length" value="{{data[2]['z']}}">
                <input type="number" class="form-control" name="y" placeholder="Height" value="{{data[2]['y']}}"><br>
                <label class="text-black" for="fname">Input weight</label>
                <input type="number" step="0.001" class="form-control" name="weight" placeholder="Weight" value="{{data[2]['weight']}}">
                {% else %}
                <input type="number" class="form-control" name="x" placeholder="Width">
                <input type="number" class="form-control" name="z" placeholder="Length">
                <input type="number" class="form-control" name="y" placeholder="Height"><br>
                <label class="text-black" for="fname">Input weight</label>
                <input type="number" step="0.001" class="form-control" name="weight" placeholder="Weight">
                {% endif %}
              </div>

              {% if data|length > 2 %}
              <div class="col-md-12">
                <input type="checkbox" name="get_cost" value="True">
                <label for="get_cost">Show cost before adding</label><br>  
              </div>
              {% else %}
              <div class="col-md-12">
                <input type="checkbox" name="get_cost" value="True" {{"checked"}}>
                <label for="get_cost">Show cost before adding</label><br>  
              </div>
              {% endif %}
            </div>
              <div class="row form-group mt-4">
                <div class="col-md-12">
                  <input type="submit" value="Add package" class="btn btn-primary">
                </div>
              </div>

              {% if data|length > 2 %}
              <div class="col-md-12">
                <h2 class="mb-4 font-weight-medium text-secondary">Koszt przesyłki: {{data[2]['cost']}} PLN</h2>
              </div>
              {% endif %}

            </div>
            </div>
            </div>
            
            
            
          </form>
        </div>
        
      </div>
    </div>
    </div>
  </div>

  {% include 'components/footer.html' %}

<script src="{{ url_for('static', filename='assets/js/jquery-3.5.1.min.js')}}"></script>

<script src="{{ url_for('static', filename='assets/js/bootstrap.bundle.min.js')}}"></script>

<script src="{{ url_for('static', filename='assets/vendor/wow/wow.min.js')}}"></script>

<script src="{{ url_for('static', filename='assets/js/theme.js')}}"></script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIA_zqjFMsJM_sxP9-6Pde5vVCTyJmUHM&callback=initMap"></script>

</body>
</html>
