<!DOCTYPE html>
<html lang="en">
  {% include 'components/head.html' %}
  {% include 'components/header.html' %}

  <!-- Back to top button -->
  <!-- <div class="back-to-top"></div> -->
  <style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

</style>
  
  <body>
  
    


  <div class="page-section">
    <div id="inner">   
    <div class="container-fluid mt-4">
      <div class="row">
        <div class="col-lg-6 mb-5 mb-lg-0" style="left:-30%;top:-10%;">
          <form action="manage_features" method="POST" class="contact-form .img_place"> <!-- py-5 px-lg-5-->
            <h2 class="mb-4 font-weight-medium text-secondary">Search features</h2>
            <div class="row form-group">
              <div class="col-md-12">
                <label class="text-black" for="fname">Feature</label>
                <input type="text" class="form-control" name="feature_name" placeholder="Feature name" value=''><br>
              </div>

              <div class="row form-group mt-4">
                <div class="col-md-12" style="top:-25px; left:25px;">
                  <input type="submit" value="Search" class="btn btn-primary">
                </div>
              </div>
            </div>
          </form>
          <form action="manage_features_delete" method="POST" class="contact-form .img_place">
              {% if data|length > 0 %}
              <div class="col-md-12">
              <table>
              <tr>
                <th></th>
                <th>ID </th>
                <th>Feature Name</th>
                <th>Rate</th>
              </tr>
                {% for item in data %}
                <tr>
                <td><input type="checkbox" name="{{item['feature']}}" value="{{item['feature']}}" />&nbsp;</td>
                <td><label for="{{item['feature']}}">{{item['id']}}</label></td>
                <td><label for="{{item['feature']}}">{{item['feature']}}</label></td>
                <td><label for="{{item['feature']}}">{{item['feature_rate']}}</label></td>
                </tr>
                {% endfor %}
              </div>
            </table>
              <div class="row form-group mt-4">
                <div class="col-md-12" >
                  <input type="submit" value="Delete" class="btn btn-primary">
              </div>
              {% endif %}
          </form>
          <div class="col-md-12-middle" style="position:absolute;top:-10%;left:110%;width:100%" >
            <h2 class="mb-4 font-weight-medium text-secondary">Add Feature</h2>
            <form action="manage_features_add" method="POST" class="contact-form .img_place"> <!-- py-5 px-lg-5-->
              <div class="row form-group">
                <label class="text-black" for="fname">Enter new feature name</label>
                <input type="text" class="form-control" name="feature_new_name" placeholder="Feature new name" value='' required><br>
                <label class="text-black" for="fname">Enter new feature rate</label>
                <input type="number" step="0.001" class="form-control" name="feature_new_rate" placeholder="Feature new rate" value='' required><br>
                <div class="row form-group mt-4">
                    <input type="submit" value="Add" class="btn btn-primary">
                </div>
              </div>
              </form>

        </div>
              <div class="col-md-12-middle" style="position:absolute;top:-10%;left:230%;width:100%" >
                <h2 class="mb-4 font-weight-medium text-secondary">Edit Feature</h2>
                <form action="manage_features_update" method="POST" class="contact-form .img_place"> <!-- py-5 px-lg-5-->
                  <div class="row form-group">
                      <label class="text-black" for="fname">Feature ID</label>
                      <input type="number" class="form-control" name="feature_id" placeholder="Feature ID" value=''><br>
                      <label class="text-black" for="fname">Enter new feature name</label>
                      <input type="text" class="form-control" name="feature_new_name" placeholder="Feature new name" value=''><br>
                      <label class="text-black" for="fname">Enter new feature rate</label>
                      <input type="number" step="0.001" class="form-control" name="feature_new_rate" placeholder="Feature new rate" value=''><br>
                    <div class="row form-group mt-4">
                        <input type="submit" value="Update" class="btn btn-primary">
                        
                    </div>
                  </div>
                  </form>

            </div>
              

            </div>
            
            </div>
            
            
            
          </form>
        </div>
        
      </div>
    </div>
    </div>
  </div>
  
  {% include 'components/footer.html' %}

<script src="{{ url_for('static', filename='assets/js/jquery-3.5.1.min.js')}}"></script>

<script src="{{ url_for('static', filename='assets/js/bootstrap.bundle.min.js')}}"></script>

<script src="{{ url_for('static', filename='assets/vendor/wow/wow.min.js')}}"></script>

<script src="{{ url_for('static', filename='assets/js/theme.js')}}"></script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIA_zqjFMsJM_sxP9-6Pde5vVCTyJmUHM&callback=initMap"></script>

</body>
</html>
