<!DOCTYPE html>
<html lang="en">
  {% include 'components/head.html' %}
  {% include 'components/header.html' %}

  <!-- Back to top button -->
  <!-- <div class="back-to-top"></div> -->
  <style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

</style>
  
  <body>
  
 
  <div class="page-section">
    <div id="inner">   
    <div class="container-fluid mt-4">
      <div class="row">
        <div class="col-lg-6 mb-5 mb-lg-0" style="left:-30%;top:-40%;">
          <form action="manage_discounts" method="POST" class="contact-form .img_place"> <!-- py-5 px-lg-5-->
            <h2 class="mb-4 font-weight-medium text-secondary">Search Discounts</h2>
            <div class="row form-group">
              <div class="col-md-12">
                <label class="text-black" for="fname">Discount</label>
                <input type="text" class="form-control" name="discount" placeholder="Discount name" value=''><br>
              </div>

              <div class="row form-group mt-4">
                <div class="col-md-12" style="top:-25px; left:25px;">
                  <input type="submit" value="Search" class="btn btn-primary">
                </div>
              </div>
            </div>
          </form>
          <form action="manage_discounts_delete" method="POST" class="contact-form .img_place">
              {% if data|length > 0 %}
              <div class="col-md-12">
              <table>
              <tr>
                <th></th>
                <th>ID </th>
                <th>Discount Name</th>
                <th>Rate</th>
              </tr>
                {% for item in data %}
                <tr>
                <td><input type="checkbox" name="{{item['discount']}}" value="{{item['discount']}}" />&nbsp;</td>
                <td><label for="{{item['discount']}}">{{item['id']}}</label></td>
                <td><label for="{{item['discount']}}">{{item['discount']}}</label></td>
                <td><label for="{{item['discount']}}">{{item['discount_rate']}}</label></td>
                </tr>
                {% endfor %}
              </div>
            </table>
              <div class="row form-group mt-4">
                <div class="col-md-12" >
                  <input type="submit" value="Delete" class="btn btn-primary">
              </div>
              {% endif %}
          </form>
          <div class="col-md-12-middle" style="position:absolute;left:110%;top:-30%;width:100%" >
            <h2 class="mb-4 font-weight-medium text-secondary">Add Discount</h2>
            <form action="manage_discounts_add" method="POST" class="contact-form .img_place"> <!-- py-5 px-lg-5-->
              <div class="row form-group">
                  <label class="text-black" for="fname">Enter new discount name</label>
                  <input type="text" class="form-control" name="discount_new_name" placeholder="Discount new name" value='' required><br>
                  <label class="text-black" for="fname">Enter new discount rate</label>
                  <input type="number" step="0.001" class="form-control" name="discount_new_rate" placeholder="Discount new rate" value='' required><br>
                <div class="row form-group mt-4">
                    <input type="submit" value="Add" class="btn btn-primary">
                </div>
              </div>
              </form>

        </div>

              <div class="col-md-12-right" style="position:absolute;left:230%;top:-30%;width:100%" >
                <h2 class="mb-4 font-weight-medium text-secondary">Edit Discount</h2>
                <form action="manage_discounts_update" method="POST" class="contact-form .img_place"> <!-- py-5 px-lg-5-->
                  <div class="row form-group">
                      <label class="text-black" for="fname">Discount ID</label>
                      <input type="number" class="form-control" name="discount_id" placeholder="Discount ID" value=''><br>
                      <label class="text-black" for="fname">Enter new discount name</label>
                      <input type="text" class="form-control" name="discount_new_name" placeholder="Discount new name" value=''><br>
                      <label class="text-black" for="fname">Enter new discount rate</label>
                      <input type="number" step="0.001" class="form-control" name="discount_new_rate" placeholder="Discount new rate" value=''><br>
                    <div class="row form-group mt-4">
                        <input type="submit" value="Update" class="btn btn-primary">
                    </div>
                  </div>
                  </form>

            </div>
              

            </div>
            
            </div>
            
            
            
          </form>
        </div>
        
      </div>
    </div>
    </div>
  </div>

  {% include 'components/footer.html' %}

<script src="{{ url_for('static', filename='assets/js/jquery-3.5.1.min.js')}}"></script>

<script src="{{ url_for('static', filename='assets/js/bootstrap.bundle.min.js')}}"></script>

<script src="{{ url_for('static', filename='assets/vendor/wow/wow.min.js')}}"></script>

<script src="{{ url_for('static', filename='assets/js/theme.js')}}"></script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIA_zqjFMsJM_sxP9-6Pde5vVCTyJmUHM&callback=initMap"></script>

</body>
</html>
