<!DOCTYPE html>
<html lang="en">
  {% include 'components/head.html' %}
  {% include 'components/header.html' %}
  <body>
  
 
  <div class="page-section">
    <div id="inner">   
    <div class="container-fluid mt-4">
      <div class="row">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <form action="" method="POST" class="contact-form .img_place"> <!-- py-5 px-lg-5-->
            <h2 class="mb-4 font-weight-medium text-secondary">Reset password</h2>
            <div class="row form-group">
              <div class="col-md-12">
                <label class="text-black" for="fname">Type password</label>
                <input class="form-control" type="password" name="password" placeholder="Password">
              </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-black" for="lname">Retype password</label>
                  <input class="form-control" type="password" name="password_check" placeholder="Password">
                </div>
              </div>

              <div class="row form-group mt-4">
                <div class="col-md-12">
                  <input type="submit" value="Reset" class="btn btn-primary">
                </div>
              </div>

            </div>
            </div>
            </div>
            
            
            
          </form>
        </div>
        
      </div>
    </div>
    </div>
  </div>

  <footer class="page-footer bg-image" style="background-image: url(../static/assets/img/world_pattern.svg);">
    <div class="container">
      <div class="row mb-5">
        <div class="col-lg-3 py-3">

          <div class="social-media-button">
            <a href="#"><span class="mai-logo-facebook-f"></span></a>
            <a href="#"><span class="mai-logo-twitter"></span></a>
            <a href="#"><span class="mai-logo-google-plus-g"></span></a>
            <a href="#"><span class="mai-logo-instagram"></span></a>
            <a href="#"><span class="mai-logo-youtube"></span></a>
          </div>
        </div>
        <div class="col-lg-3 py-3">
          <h5>company</h5>
          <ul class="footer-menu">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Career</a></li>
            <li><a href="#">Advertise</a></li>
            <li><a href="#">Terms of Service</a></li>
            <li><a href="#">Help & Support</a></li>
          </ul>
        </div>
        <div class="col-lg-3 py-3">
          <h5>Contact Us</h5>
          <p>Sunny Wrocław</p>
          <a href="#" class="footer-link">+123 456 789</a>
          <a href="#" class="footer-link">pachoocha@gmail.com</a>
        </div>
        <div class="col-lg-3 py-3">
          <h5>Newsletter</h5>
          <p>Get updates, news or events on your mail.</p>
          <form action="#">
            <input type="text" class="form-control" placeholder="Enter your email..">
            <button type="submit" class="btn btn-success btn-block mt-2">Subscribe</button>
          </form>
        </div>
      </div>
    </div>
  </footer>

<script src="{{ url_for('static', filename='assets/js/jquery-3.5.1.min.js')}}"></script>

<script src="{{ url_for('static', filename='assets/js/bootstrap.bundle.min.js')}}"></script>

<script src="{{ url_for('static', filename='assets/vendor/wow/wow.min.js')}}"></script>

<script src="{{ url_for('static', filename='assets/js/theme.js')}}"></script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIA_zqjFMsJM_sxP9-6Pde5vVCTyJmUHM&callback=initMap"></script>

</body>
</html>
