<style>
  form {
   float: left; 
   padding-right: 10px;
  }
  
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  .show_data{
    position: relative;
    top: 30%;
    left: 10;
  }
  
  
  
  </style>
  
  {% include 'components/head.html' %}
{% include 'components/header.html' %}
<body>
    <div class="page-section">
        <div class="center" style="padding-left: 25%; padding-top: 5%; padding-bottom: 5%;">

  <form class="form-control-form validate-form flex-sb flex-w" method="POST" action="search_order">
      <span class="form-control-form-title p-b-51">
         Search for order
      </span>
      <div class="wrap-form-control validate-input m-b-16">
        <input class="form-control" type="text" name="order_id" placeholder="Order ID" value="">
        <span class="focus-form-control"></span>
      </div>
      <div class="wrap-form-control validate-input m-b-16">
        <input class="form-control" type="text" name="first_name" placeholder="First name" value="">
        <span class="focus-form-control"></span>
      </div>
      <div class="wrap-form-control validate-input m-b-16">
        <input class="form-control" type="text" name="last_name" placeholder="Last name" value="">
        <span class="focus-form-control"></span>
      </div>
      <div class="wrap-form-control validate-input m-b-16">
        <input class="form-control" type="email" name="email" placeholder="email" value="">
        <span class="focus-form-control"></span>
      </div>
      <div class="wrap-form-control validate-input m-b-16">
        <input class="form-control" type="text" name="phone" placeholder="phone_number number" value="">
        <span class="focus-form-control"></span>
      </div>
      <div class="wrap-form-control validate-input m-b-16">
        <input class="form-control" type="text" name="company" placeholder="company" value="">
        <span class="focus-form-control"></span>
      </div>
      <div class="wrap-form-control validate-input m-b-16">
        <input class="form-control" type="text" name="add_dest" placeholder="Destination City" value="">
        <span class="focus-form-control"></span>
      </div>
      <div class="wrap-form-control validate-input m-b-16">
        <input class="form-control" type="text" name="order_status" placeholder="Order Status" value="">
        <span class="focus-form-control"></span>
      </div>
      <div class="wrap-form-control validate-input m-b-16">
        <input class="form-control" type="text" name="current_station" placeholder="Current Station" value="">
        <span class="focus-form-control"></span>
      </div>
      <span class="form-control-form-title p-b-51">
        Shipping Date
     </span>
      <div class="wrap-form-control validate-input m-b-16">
        <input class="form-control" type="date" name="shipping_date" placeholder="Shipping Date" value="">
        <span class="focus-form-control"></span>
      </div>
      <span class="form-control-form-title p-b-51">
        Delivery Date
     </span>
      <div class="wrap-form-control validate-input m-b-16">
        <input class="form-control" type="date" name="delivery_date" placeholder="Delivery Date" value="">
        <span class="focus-form-control"></span>
      </div>
      <div class="row form-group mt-4">
        <div class="col-md-12">
          <input type="submit" value="Search for order" class="btn btn-primary">
                </div>
              </div>
  </form>
  </div>
  </div>

            <div class="col-md-12-middle" style="position:relative;top:-800px;left:50%;width:70%" >
                  <h1>Wyniki</h1>
                  {% for item in data %}
                  <table>
                  <tr>
                  <h2 class="mb-4 font-weight-medium text-secondary"><a href="/order/show/{{item["order_id"]}}">Order ID: {{item["order_id"]}}</a></h2>
                  </tr>
                  <tr>
                    <td><label><b>Client Info</b></label></td>
                    <td><label><b>Delivery Info</b></label></td>
                  </tr>
                  <tr>
                    <td><label>Imie:{{item["first_name"]}}</label></td>
                    <td><label>Destination Address: {{item["city"]}} {{item["road"]}} {{item["Dest_House"]}}</label></td>
                  </tr>
                  <tr>
                    <td><label>Nazwisko:{{item["last_name"]}}</label></td>
                    <td><label>Status: {{item["status_name"]}}</label></td>
                  </tr>
                  <tr>
                    <td><label>Nr.tel:{{item["phone_number"]}}</label></td>
                    <td><label>Station: {{item["station_name"]}} {{item["station_address"]}}</label></td>
                  </tr>
                  <tr>
                    <td><label>Firma:{{item["company"]}}</label></td>
                    <td><label>Shipping Date: {{item["shipping_date"]}}</label></td>
                  </tr>
                  <tr>
                    <td><label>email:{{item["email"]}}</label></td>
                    <td><label>Delivery Date: {{item["delivery_date"]}}</label></td>
                  </tr>
                </table>
                <p>&emsp;</p>
                  {% endfor %}
            </div>
         

</body>
{% include 'components/footer.html' %}

