
<!DOCTYPE html>
<html lang="en">
  {% include 'components/head.html' %}
  {% include 'components/header.html' %}
  <body>
    <div class="page-section">
    <div class="center" style="padding-left: 25%; padding-top: 5%; padding-bottom: 5%;">
<div class="banner_container"><h2 class="h2">Order tracking</h2>
    <form style="width: 50%;" action="" method="POST">
        <input class="form-control" name="order_id" type="text" placeholder="Wpisz numer zamówienia" required="">
        <div class="row form-group mt-4">
            <div class="col-md-12">
                <input type="submit" value="Szukaj" class="btn btn-primary">
        </div>
        </div>
    </form>
</div>
</div>


{% include 'components/footer.html' %}

<script src="{{ url_for('static', filename='assets/js/jquery-3.5.1.min.js')}}"></script>

<script src="{{ url_for('static', filename='assets/js/bootstrap.bundle.min.js')}}"></script>

<script src="{{ url_for('static', filename='assets/vendor/wow/wow.min.js')}}"></script>

<script src="{{ url_for('static', filename='assets/js/theme.js')}}"></script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIA_zqjFMsJM_sxP9-6Pde5vVCTyJmUHM&callback=initMap"></script>

</body>