<!DOCTYPE html>
<html lang="en">
  {% include 'components/head.html' %}
  {% include 'components/header.html' %}
  <body>

    <div class="page-section">
        <div id="inner">   
        
          <div class="row">
            
                <h1 class="mb-4 font-weight-medium text-secondary">Package</h1>
                
    
            </div>
            <h2 class="mb-4 font-weight-medium text-secondary">Basic information</h2>

            {% for item in data["package_info"]%}
            <label> 
              <b>{{item}}</b> : 
              {{data["package_info"][item]}}
            </label>
            <br>
            {% endfor %}

        </div>
    </div>

</body>
</html>
{% include 'components/footer.html' %}