<!DOCTYPE html>
<html lang="en">
  {% include 'components/head.html' %}
  {% include 'components/header.html' %}
  <body>
    <script>
      function redirect_edit(){
      if (window.location.search === '') {
         window.location = window.location + '?edit=True'
      } else {
        window.location = window.location + window.location.search + '&edit=True'
      }
    }

    function redirect_to_url(url){
      window.location = url;
    }

    </script>
    <div class="page-section">
        <div id="inner">   
        
          <div class="row">
            
                <h1 class="mb-4 font-weight-medium text-secondary">Order </h1>
            
            </div>
            <h2 class="mb-4 font-weight-medium text-secondary">Basic information</h2>

            
            {% if data['is_logged'] %}
              {% if data['is_edit_mode'] %}
              
                <ul style="list-style-type:none;">
                  {% for item in data["delivery_display_info"] %}
                  
                    <div style="padding-bottom: 4%;">
                      
                      <form action="" method="POST" class="contact-form .img_place">
                       <li style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; " class="">
                       
                        <label><h2>{{item}} </h2></label>  <br>
                        {% if data["delivery_display_info"][item] is mapping %}
                            {% for item2 in data["delivery_display_info"][item] %}
                                {% if item2 != "id" %}
                                    {% if data["field_type"][item] == "const" or data["field_type"][item] == "redirect" %}
                                   
                                    <label> 
                                      <b>{{item2}}</b> : 
                                      {{data["delivery_display_info"][item][item2]}}
                                     </label>
                                      <br>

                                  {% elif data["field_type"][item] == "inplace_date"%}
                                  <b>{{item2}}</b>
                                    <input class="form-control" type="date" name="{{item2}}" value="{{data["delivery_display_info"][item][item2]}}">
                                  {% elif data["field_type"][item] == "inplace_text" %}
                                  <b>{{item2}}</b>
                                    <input class="form-control" type="text" name="{{item2}}" placeholder="{{item}}" value="{{data["delivery_display_info"][item][item2]}}">
                                  {% elif data["field_type"][item] == "inplace_list" %}
                                  <label for="{{item2}}">{{item2}} :</label>
                                  <select name="{{item2}}" id="states" style="width: 20%;">
                                    <!-- This thing here might become a problem when another list is created other than states -->
                                    {% for status in data["possible_states"] %}
                                    
                                      <option value="{{status}}">{{status}}</option>
                                    {% endfor %}
                                  </select>
                                  {% endif %}
                                
                                  <!-- <label> 
                                  <b>item2}}</b> : 
                                  data["delivery_display_info"][item][item2]}}
                                 </label>
                                  <br> -->
                                  
                                {% endif %}
                            {% endfor %}
                        {% else %}
                              {% if data["field_type"][item] == "const" or data["field_type"][item] == "redirect" %}
                                <label>{{data["delivery_display_info"][item]}} </label>
                              {% elif data["field_type"][item] == "inplace_date"%}
                                <input class="form-control" type="date" name="{{item}}" value="{{data["delivery_display_info"][item]}}">
                              {% elif data["field_type"][item] == "inplace_text" %}
                                <input class="form-control" type="text" name="{{item}}" placeholder="{{item}}" value="{{data["delivery_display_info"][item]}}">
                              {% endif %}
                        {% endif %}
                          <!-- <br> -->
                          <div style="padding-bottom: 5%;padding-top:5%;">
                            {% if item in data["edit_links"] and data["field_type"][item] == "redirect"%}
                              <input type="button" value="Edytuj" class="btn btn-primary" onclick="redirect_to_url('{{data["edit_links"][item]}}');">
                            {% elif "inplace" in data["field_type"][item] %}
                            <input type="submit" value="Zapisz" class="btn btn-primary");>
                            
                            {%endif%}
                          </div>
                          

                        
                      </li>
                    </form>
                  </div>
                {% endfor %}
              </ul>
              
              
              {% else %}
              <!-- {'id': 53, 'order_id': 'a684eceee76fc522773286a895bc8436', 'delivery_address': 2, 'shipping_address': 2, 'order_status': 1, 'sender': 68, 'recipient': 73, 'shipping_date': datetime.date(2022, 1, 8), 'delivery_date': datetime.date(2022, 1, 11), 'current_station': 3} -->
              <ul style="list-style-type:none;">
                {% for item in data["delivery_display_info"] %}
                
                  <div style="padding-bottom: 2%;">
                  <li style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; " class="">

                  <label><h2>{{item}} </h2></label>  <br>
                  {% if data["delivery_display_info"][item] is mapping %}
                    {% for item2 in data["delivery_display_info"][item] %}
                    {% if item2 != "id" %}
                    <label> <b>{{item2}}</b> : 
                      {{data["delivery_display_info"][item][item2]}} </label>
                      <br>
                      {%endif%}
                      {% endfor %}
                  {% else %}
                      <label>{{data["delivery_display_info"][item]}} </label>
                    
                  {% endif %}
                  <br>
                </div>
              </li>
                {% endfor %}
                <div style="padding-bottom: 5%;padding-top:5%;">
                {% if data["is_user_allowed_to_edit"] %}
                   <input type="submit" value="Edytuj" onclick="redirect_edit()" class="btn btn-primary">
                {% endif %}
              
          </div>
          </ul>
              {%endif%}
            {% else %}

            
            <table>
              
              <!-- <tr>
                <td><label><b>Client Info</b></label></td>
                <td><label><b>Delivery Info</b></label></td>
              </tr> -->
              <tr>
                
                <td><label><b>Destination Address: </b></label></td>
                <td><label>{{data["display_info_client"]["city"]}} {{data["display_info_client"]["road"]}} {{data["display_info_client"]["Dest_House"]}}</label></td>
              </tr>
              <tr>
                
                <td><label><b>Status: </b></label></td>
                <td><label>{{data["display_info_client"]["status_name"]}}</label></td>
              </tr>
              <tr>
                
                <td><label><b>Station: </b></label></td>
                <td><label>{{data["display_info_client"]["station_name"]}} {{data["display_info_client"]["station_address"]}}</label></td>

              </tr>
              <tr>
               
                <td><label><b>Shipping Date:</b> </label></td>
                <td><label>{{data["display_info_client"]["shipping_date"]}}</label></td>
              </tr>
              <tr>
               
                <td><label><b>Delivery Date: </b></label></td>
                <td><label>{{data["display_info_client"]["delivery_date"]}}</label></td>
              </tr>
            </table>
            {% endif %}

            <h2 class="mb-4 font-weight-medium text-secondary">Order packages</h2>
            <ul style="list-style-type:none;">
            {% for i in range(data["packages_links"]|length) %}
            <div style="padding-bottom: 2%;">
            <li style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; " class="">

              <a class="text-black" href="{{data['packages_links'][i]}}"><b> Paczka {{i+1}} </b></a>
              <img src="{{url_for('static', filename='assets/img/package.png')}}" style="width: 10%; height: 10%;">
              
              
              {% if  data['is_edit_mode'] %}
              <script>
                function delete_package(link){
                if (confirm('Are you sure you want to delete package?')) {
                  location.href = link;
                }
              }

              </script>
              <div style="text-align: right;" >
                <a onclick="delete_package('{{data['packages_delete_links'][i]}}');">
                  <img src="{{url_for('static', filename='assets/img/trash_icon.png')}}" style="width: 5%; height: 5%">
              </a>
              </div>
              {% endif %}

              </li>
              </div>

            {% endfor %}
            </ul>
          
            {% if  data['is_edit_mode'] %}
            <div style="padding-left: 5%; padding-bottom: 5%;">
              <a href = "/add_package/{{data['delivery_info']['order_id']}}">
              <img src="{{url_for('static', filename='assets/img/plus_icon.png')}}" style="width: 6%; height: 6%">
              </a>
            </div>
            {% endif %}
          
            <h2 class="mb-4 font-weight-medium text-secondary">Order tracking</h2>
            <ul style="list-style-type:none; padding-bottom: 10%; padding-top:5%;">
              
                {% for details in data["delivery_history"] %}
                <div style="padding-bottom: 5%;">
                <li style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; " class="">
                  <span>
                    
                   <b>
                      <div class="text-secondary" style="font-size: 14pt;">{{ details['station'][0]["station_name"] }}</div>
                    </b>

                    <!-- TODO: Dodać wyświetlanie adresu bazy-->
                    
                    <div class="text-black"> <b>Delivery date: </b> {{ details['time'] }}</div>
                    
                    
                      <div class="text-black"><b>Status:</b> {{ details['status'] }}</div>
                  
                  </span>
                </li>
              </div>
                {% endfor %}
                
              </ul>
        </div>
      </div>
      </div>
    </div>
    <script>
      function textNodesUnder(node){
        var all = [];
        for (node=node.firstChild;node;node=node.nextSibling){
          if (node.nodeType==3) all.push(node);
          else all = all.concat(textNodesUnder(node));
        }
        return all;
      }
      texts = textNodesUnder(document)
      for (let i = 0; i<texts.length; i++){
          texts[i].textContent = texts[i].textContent.replace("_", " ");
      }
    </script>

</body>
</html>
{% include 'components/footer.html' %}