<style>
  form {
   float: left; 
   padding-right: 10px;
  }
  
  table, th, td {
    border: 1px solid black;
  }
  
  .show_data{
    position: relative;
    top: 30%;
    left: 10;
  }
  
  
  
  </style>
  
  
  {% include 'components/head.html' %}
{% include 'components/header.html' %}
<body>
    <div class="page-section">
        <div class="center" style="padding-left: 25%; padding-top: 5%; padding-bottom: 5%;">

  <form class="form-control-form validate-form flex-sb flex-w" method="POST" action="update_client">
      <span class="form-control-form-title p-b-51">
         Search for client
      </span>
      <div class="wrap-form-control validate-input m-b-16">
        <input class="form-control" type="text" name="first_name" placeholder="First name">
        <span class="focus-form-control"></span>
      </div>
      <div class="wrap-form-control validate-input m-b-16">
        <input class="form-control" type="text" name="last_name" placeholder="Last name">
        <span class="focus-form-control"></span>
      </div>
      <div class="wrap-form-control validate-input m-b-16">
        <input class="form-control" type="email" name="email" placeholder="Email">
        <span class="focus-form-control"></span>
      </div>
      <div class="wrap-form-control validate-input m-b-16">
        <input class="form-control" type="text" name="phone_number" placeholder="Phone number">
        <span class="focus-form-control"></span>
      </div>
      <div class="wrap-form-control validate-input m-b-16">
        <input class="form-control" type="text" name="company" placeholder="Company">
        <span class="focus-form-control"></span>
      </div>
      <div class="row form-group mt-4">
        <div class="col-md-12">
          <input type="submit" value="Search for client" class="btn btn-primary">
                </div>
              </div>
  </form>
  
  <form class="form-control-form validate-form flex-sb flex-w" method="POST" action="update_client">
    <span class="form-control-form-title p-b-51">
       Select Client ID
    </span>
    <div class="wrap-form-control validate-input m-b-16">
      <input class="form-control" type="number" id="client_id" name="id" placeholder="Client ID" data-validate = "Client ID is required">
      <span class="focus-form-control"></span>
      <script>
        function findGetParameter(parameterName) {
            var result = null,
                tmp = [];
            location.search
                .substr(1)
                .split("&")
                .forEach(function (item) {
                  tmp = item.split("=");
                  if (tmp[0] === parameterName) result = decodeURIComponent(tmp[1]);
                });
            return result;
        }
  
        document.getElementById("client_id").value = findGetParameter('id')
      </script>
    </div>
    <div class="wrap-form-control validate-input m-b-16">
      <span class="form-control-form-title p-b-51">
        Input new data
      </span><br>
      <input class="form-control" type="text" name="first_name" placeholder="First name">
      <span class="focus-form-control"></span>
    </div>
    <div class="wrap-form-control validate-input m-b-16">
      <input class="form-control" type="text" name="last_name" placeholder="Last name">
      <span class="focus-form-control"></span>
    </div>
    <div class="wrap-form-control validate-input m-b-16">
      <input class="form-control" type="email" name="email" placeholder="Email">
      <span class="focus-form-control"></span>
    </div>
    <div class="wrap-form-control validate-input m-b-16">
      <input class="form-control" type="text" name="phone_number" placeholder="Phone number">
      <span class="focus-form-control"></span>
    </div>
    <div class="wrap-form-control validate-input m-b-16">
      <input class="form-control" type="text" name="company" placeholder="Company">
      <span class="focus-form-control"></span>
    </div>
    <div class="row form-group mt-4">
      <div class="col-md-12">
        <input type="submit" class="btn btn-primary">
      </div>
    </div>
  </form>
  
  <div class='show_data'>
    <table>
      <tr>
        <th>Client ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone number</th>
        <th>Company</th>
      </tr>
      {% for item in data[0] %}
          <tr>
              <td>{{item["id"]}}</td>
              <td>{{item["first_name"]}}</td>
              <td>{{item["last_name"]}}</td>
              <td>{{item["email"]}}</td>
              <td>{{item["phone_number"]}}</td>
              <td>{{item["company"]}}</td>

          </tr>
      {% endfor %}
    </table>
  </div>
   </div>
    </div>
</body>
{% include 'components/footer.html' %}
