{% include 'components/head.html' %}
{% include 'components/header.html' %}  
<body> 
 <style>
    form {
     float: left; 
     padding-right: 10px;
    }
    

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  .show_data{
      position: relative;
      top: 30%;
      left: 10;
    }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

</style>
    
    

<div class="page-section">
<div class="center" style="padding-left: 25%; padding-top: 5%; padding-bottom: 5%;">
    <form class="form-control-form validate-form flex-sb flex-w" method="POST" action="update_position">
        <span class="form-control-form-title p-b-51">
           Search for position
        </span>
        <div class="wrap-form-control validate-input m-b-16">
          <input class="form-control" type="text" name="position_name" placeholder="Position name">
          <span class="focus-form-control"></span>
        </div>
        <div class="row form-group mt-4">
          <div class="col-md-12">
            <input type="submit" value="Search for position" class="btn btn-primary">
          </div>
        </div>
    </form>

    <form class="form-control-form validate-form flex-sb flex-w" method="POST" action="update_position">
        <span class="form-control-form-title p-b-51">
          Update position
          <div class="wrap-form-control validate-input m-b-16">
            {% if data[2] is not none %}
            <input class="form-control" type="number" name="id" placeholder="Position ID" data-validate = "Position ID is required" value={{data[2]["id"]}}>
            {% else %}
            <input class="form-control" type="number" name="id" placeholder="Position ID" data-validate = "Position ID is required">
            {% endif %}
            <span class="focus-form-control"></span>
         </div>
        </span>
        <span class="form-control-form-title p-b-51">
            Input Position Name
            <div class="wrap-form-control validate-input m-b-16">
              {% if data[2] is not none %}
              <input class="form-control" name="position_name" placeholder="Position name" data-validate = "Position name is required" value={{data[2]["position_name"]}}>
              {% else %}
              <input class="form-control" name="position_name" placeholder="Position name" data-validate = "Position name is required">
              {% endif %}
              <span class="focus-form-control"></span><br>
            </div>
        </span>
        <span class="form-control-form-title p-b-51">
            Add EVERY permissions
        </span>
        <div class="wrap-form-control validate-input m-b-16">
          <input class="form-control" name="position_permission" placeholder="Permission name" data-validate = "Permission name is optional">
        </div>
        <div class="col-md-12">
        {% if data[2] is not none %}
        {% for perm in data[1] %}
          <input type="checkbox" name="{{perm['name']}}" value="{{perm['name']}}" {{"checked" if perm['name'] in data[2]['permission_name']}}>
          <label for="{{perm['name']}}">{{perm["name"]}}</label><br> 
        {% endfor %}
        {% else %}
        {% for perm in data[1] %}
        <input type="checkbox" name="{{perm['name']}}" value="{{perm['name']}}">
        <label for="{{perm['name']}}">{{perm["name"]}}</label><br>  
        {% endfor %}
        {% endif %}
      </div>
      <div class="row form-group mt-4">
        <div class="col-md-12">
          <input type="submit" value="Update position" class="btn btn-primary">
        </div>
      </div>
    </form>
        

    </form>
  </div>
    <div class='show_data' style="position: absolute;top:20%;left:60%">
      <table>
        <tr>
          <th>Position ID</th>
          <th>Postiion name</th>
          <th>Permissions</th>
        </tr>
        {% for item in data[0] %}
            <tr>
                <td>{{item["id"]}}</td>
                <td>{{item["position_name"]}}</td>
                <td>{{item["permission_name"]}}</td>
            </tr>
        {% endfor %}
      </table>
    </div>

</div>
    </body>
  

  {% include 'components/footer.html' %}